<template>
  <div class="d-flex justify-content-between mt-1 p-2 border border-primary rounded align-items-center">
    <RouterLink :to="{ name: 'AreaSingle', query: { areaId: area._id } }">{{ area.name }}</RouterLink>
    <p>{{ nbvoies }} voies</p>
    <div v-show="profile">
      <RouterLink :to="{ name: 'modifyArea', params: { areaId: area._id } }">Modifier</RouterLink>
      <a class="" v-on:click="deleteArea">Supprimer</a>
    </div>
  </div>
</template>


<script>
const urlBase = import.meta.env.VITE_BASE_URL
export default {
  props: {
    area: {
      type: Object,
      required: true,
    }
  },
  data() {
    return {
      profile: false,
      nbvoies: 0,
      routes: []
    }
  },
  created() {
    if(this.$route.name == "profile"){
      this.profile = true
    } 
    this.getRoutes()
  },
  methods: {
    getRoutes() {
      const url = urlBase +"areas/" + this.area._id + "/routes"
      fetch(url)
        .then(response => response.json())
        .then(data => {
          this.routes = data
          this.nbvoies = this.routes.length
        })
    },
    deleteArea(){
      const url = urlBase + "areas/" + this.area._id
      fetch(url, {
        method: "DELETE"
      })
    }
  }
};
</script>