<template>
    <header class=" bg-secondary">
        <nav class="rounded m-2 p-2 navbar navbar-expand-lg navbar-light">
            <RouterLink class="navbar-brand" to="/">DrTopo</RouterLink>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <RouterLink class="nav-link" to="/lieux">Lieux</RouterLink>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right" v-show="!login">
                <li class="nav-item">
                    <RouterLink class="underline nav-link" to="/inscription"><u>Inscription</u></RouterLink>
                </li>
                <li class="nav-item">
                    <RouterLink class="nav-link" to="/connexion"><u>Connexion</u></RouterLink>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" v-show="login">
                <li class="nav-item">
                    <RouterLink class="underline nav-link" to="/profile"><u>{{ user }}</u></RouterLink>
                </li>
                <li class="nav-item">
                    <RouterLink v-on:click="logout" class="nav-link" to="/connexion"><u>Déconnexion</u></RouterLink>
                </li>
            </ul>
        </nav>
    </header>
</template>

<script>
export default {
    name: 'nav',
    data() {
        return {
            login: false,
            user: ""
        }
    },
    created() {
        this.getRoutes(),
            this.login = localStorage.getItem('jwt') !== null
            this.user = localStorage.getItem('username')
    },
    watch: {
        $route() {
            this.getRoutes()
            this.login = localStorage.getItem('jwt') !== null
            this.user = localStorage.getItem('username')
        }
    },
    methods: {
        logout() {
            localStorage.removeItem('jwt')
            this.Login = false
        },
        getRoutes() {
            // Récupère toutes les routes via l'api
            let url = import.meta.env.VITE_BASE_URL + "routes/"
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    this.routes = data
                })
        }
    }
}
</script>


<style scoped>
/* Ces deux classes sont automatiquement ajoutées au liens par le systeme de routage */
/* Elles permettent de rendre les liens actifs avec une couleur différentes */
a.router-link-active,
a.router-link-exact-active {
    color: #ec0f0f;
}
</style>
