<template>
    <div class="d-flex justify-content-between mt-1 p-2 border border-primary rounded align-items-center">
        <RouterLink :to="{ name: 'RouteSingle', query: { routeId: route._id } }">{{ route.name }}</RouterLink>
        <RouterLink :to="{ name: 'AreaSingle', query: { areaId: Area._id } }">{{ Area.name }}</RouterLink>
        <p class="align-items-center">{{ route.grade.text }}</p>
        <p>{{ route.type }}</p>
        <div v-show="profile">
            <RouterLink :to="{ name: 'modifyRoute', params: { routeId: route._id } }">Modifier</RouterLink>
            <a class="" v-on:click="deleteRoute">Supprimer</a>
        </div>
    </div>
</template>


<script>
const urlBase = import.meta.env.VITE_BASE_URL

export default {
    props: {
        route: {
            type: Object,
            required: true,
        }
    },
    data() {
        return {
            profile: false,
            Area: {}
        }
    },
    created() {
        if (this.$route.name == "profile") {
            this.profile = true
        }
        this.getArea()
    },
    methods: {
        getArea() {
            // Récupère toutes les routes via l'api
            let url = urlBase + "areas/" + this.route.area
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    // On stocke les articles dans la variable réactive "articles"
                    this.Area = data
                })
        },
        deleteRoute(){
            let url = urlBase + "routes/" + this.route._id
            fetch(url, {
                method: "DELETE"
            })
        }
    }
}

</script>