<template>
    <h1 class="m-5">{{ Area.name }}</h1>
    <div id="container">
        <div id="mapContainer"></div>
    </div>
    <div class="m-5">
        <h2>Description</h2>
        <p>{{ Area.description }}</p>
    </div>
    <div class="m-5">
        <h2>S'y rendre</h2>
        <p>{{ Area.gettingThere }}</p>
    </div>
    <h3 class="mx-5">Voies</h3>
    <routesList v-for="route, index in routes" :key="index" :route="route" />
</template>


<script>
import "leaflet/dist/leaflet.css";
import L from "leaflet";
import RoutesList from '@/components/RoutesList.vue'
const urlBase = import.meta.env.VITE_BASE_URL

export default {

    name: 'AreaSingle',
    components: {
        RoutesList
    },

    data() {
        return {
            map: null,
            longitude: 0,
            latitude: 50,
            routes: [],
            Area: {}
        }
    },
    async created() {
        this.Area = await this.getArea()
        this.getRoutes()
        this.setupLeafletMap()
    },
    watch: {
        $route() {
            this.getArea()
            this.getRoutes()
        }
    },
    methods: {
        setupLeafletMap() {
            console.log(this.Area)

            this.map = L.map("mapContainer").setView([this.Area.lat, this.Area.lon], 6);
            L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {
                attribution:
                    '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            }).addTo(this.map);
            L.marker([this.Area.lat, this.Area.lon], { draggable: true }).addTo(this.map);
        },
        async getArea() {
            try {
                let url = urlBase + "areas/" + this.$route.query.areaId
                const response = await fetch(url, {
                    method: 'GET',
                    headers: {
                        'content-type': 'application/json'
                    }
                })

                return await response.json()
            } catch (err) {
                //todo
            }
        },
        getRoutes() {
            let url = urlBase + "areas/" + this.$route.query.areaId + "/routes"
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    this.routes = data
                })
        }
    }
}
</script>

<style>
#mapContainer {
    width: 400px;
    height: 300px;
}
</style>
