<template>
    <div class="mt-5 row justify-content-left">
        <div class="col-md-10 col-lg-6 col-xl-7 order-2 order-lg-1">

            <p class="p-3 h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Connexion</p>

            <form novalidate v-on:submit.prevent="login" class="mx-1 mx-md-4">
                <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <label class="form-label" for="name">Courriel</label>
                        <input type="text" id="name" class="form-control" v-model="email" />
                        <span v-if="errorMessage" class="text-danger">{{ errorMessage }}</span>
                    </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <label class="form-label" for="email">Mot de passe</label>
                        <input type="password" id="email" class="form-control" v-model="password1" />
                        <span v-if="errorMessage" class="text-danger">{{ errorMessage }}</span>
                    </div>
                </div>

                <div class="d-flex justify-content-left mx-3 mb-lg-4">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                        class="px-5 rounded btn btn-danger btn-lg">Se connecter</button>
                </div>
            </form>
        </div>
    </div>
</template>
​

<script>
export default {
    data() {
        return {
            email: '',
            password1: '',
            errorMessage: ''
        }
    },
    methods: {
        login() {
            fetch(import.meta.env.VITE_BASE_URL + 'signIn/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    courriel: this.email,
                    password: this.password1
                })
            })
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    } else {
                        throw new Error('Impossible de se connecter: mot de passe ou nom d\'utilisateur invalide')
                    }
                })
                .then(data => {
                    localStorage.setItem('jwt', data.Token)
                    localStorage.setItem('username', data.username)
                    this.$router.push('/')
                })
                .catch(error => {
                    this.errorMessage = error.message
                })
        }
    }
}
</script>
