<template>
  <div class=" mt-5 d-flex justify-content-around">
    <div>
      <h1>Au-delà du guide</h1>
      <p>Des millier de voies partagées par pationné(e)s d'escalade
        comme vous!
      </p>
    </div>
    <div class="justify-content-center card text-white bg-secondary mb-3 w-50">
      <div class="card-header">Trouver une voie</div>
      <div class="card-body">
        <form novalidate v-on:submit.prevent="getRoutes" class="mx-1 mx-md-4">
          <div class="d-flex flex-row align-items-center">
            <p class="d-flex align-items-center">Type</p>
            <select id="selectType" class=" m-2 mb-3 form-control" v-model="type">
              <option value="TRAD" selected>Trad</option>
              <option value="SPORT">Sport</option>
              <option value="TOPROPE">TopRope</option>
            </select>
            <select id="selectDif1" class=" m-2 mb-3 form-control" v-model="min">
              <option v-for="(grade, index) in grades" :key="index" :value="grade.value">{{ grade.text }}
              </option>
            </select>
            <p class="d-flex align-items-center">à</p>
            <select id="selectDif2" class=" m-2 mb-3 form-control" v-model="max">
              <option v-for="(grade, index) in grades" :key="index" :value="grade.value">{{ grade.text }}
              </option>
            </select>
          </div>

          <div class="d-flex flex-row align-items-center">
            <p class="d-flex align-items-center">Lieu</p>
            <select id="inputState" class=" m-2 mb-3 form-control" v-model="lieu">
              <option v-for="(area, index) in areas" :key="index" :value="area._id">{{ area.name }}</option>
            </select>
          </div>

          <div class="d-flex justify-content-left">
            <button type="submit" data-mdb-button-init data-mdb-ripple-init
              class="px-5 rounded btn btn-danger btn-lg">Rechercher</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <routesList v-for="route, index in routes" :key="index" :route="route" />
</template>

<script>
import RoutesList from '@/components/RoutesList.vue'
const urlBase = import.meta.env.VITE_BASE_URL

export default {
  name: 'Home',
  components: {
    RoutesList
  },
  data() {
    return {
      min: 5.07,
      max: 5.144,
      lieu: "",
      type: "TRAD",
      routes: [],
      areas: [],
      grades: [
        { "text": "5.7", "value": 5.07 },
        { "text": "5.8", "value": 5.08 },
        { "text": "5.9", "value": 5.09 },
        { "text": "5.10a", "value": 5.101 },
        { "text": "5.10b", "value": 5.102 },
        { "text": "5.10c", "value": 5.103 },
        { "text": "5.10d", "value": 5.104 },
        { "text": "5.11a", "value": 5.111 },
        { "text": "5.11b", "value": 5.112 },
        { "text": "5.11c", "value": 5.113 },
        { "text": "5.11d", "value": 5.114 },
        { "text": "5.12a", "value": 5.121 },
        { "text": "5.12b", "value": 5.122 },
        { "text": "5.12c", "value": 5.123 },
        { "text": "5.12d", "value": 5.124 },
        { "text": "5.13a", "value": 5.131 },
        { "text": "5.13b", "value": 5.132 },
        { "text": "5.13c", "value": 5.133 },
        { "text": "5.13d", "value": 5.134 },
        { "text": "5.14a", "value": 5.141 },
        { "text": "5.14b", "value": 5.142 },
        { "text": "5.14c", "value": 5.143 },
        { "text": "5.14d", "value": 5.144 },
        { "text": "5.15a", "value": 5.151 },
        { "text": "5.15b", "value": 5.152 },
        { "text": "5.15c", "value": 5.153 },
        { "text": "5.15d", "value": 5.154 }
      ]
    }
  },
  created() {
    this.getAreas()
  },
  watch: {
    $route() {
      this.getAreas()
    }
  },
  methods: {
    getRoutes() {
      fetch(urlBase + "routes/?" + new URLSearchParams({
        type: this.type,
        gradeMin: this.min,
        gradeMax: this.max,
        area: this.lieu,
      })

      )
        .then(response => response.json())
        .then(data => {
          this.routes = data
        })
    },
    getAreas() {
      const url = urlBase + "areas/"
      fetch(url)
        .then(response => response.json())
        .then(data => {
          this.areas = data
        })
    }
  }
}
</script>
