<template>
  <div class="row justify-content-left">
    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Création d'un compte</p>

      <form novalidate v-on:submit.prevent="submitForm" class="mx-md-4">
        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
          <div data-mdb-input-init class="form-outline flex-fill mb-0">
            <label class="form-label" for="name">Nom d'utilisateur</label>
            <input type="text" id="name" class="form-control" v-model="name" />
            <span v-if="nameError" class="text-danger">{{ nameError }}</span>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
          <div data-mdb-input-init class="form-outline flex-fill mb-0">
            <label class="form-label" for="email">Courriel</label>
            <input type="email" id="email" class="form-control" v-model="email" />
            <span v-if="emailError" class="text-danger">{{ emailError }}</span>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
          <div data-mdb-input-init class="form-outline flex-fill mb-0">
            <label class="form-label" for="motDePasse">Mot de passe</label>
            <input type="password" id="motDePasse" class="form-control" v-model="password1" />
            <span v-if="password1Error" class="text-danger">{{ password1Error }}</span>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
          <div data-mdb-input-init class="form-outline flex-fill mb-0">
            <label class="form-label" for="motDePasse2">Confirmation du mot de passe</label>
            <input type="password" id="motDePasse2" class="form-control" v-model="password2"/>
            <span v-if="password2Error" class="text-danger">{{ password2Error }}</span>
          </div>
        </div>

        <div class="d-flex justify-content-left mx-3 mb-lg-4">
          <button type="submit" data-mdb-button-init data-mdb-ripple-init
            class="px-5 rounded btn btn-danger btn-lg">Créer</button>
        </div>
      </form>
    </div>
  </div>
</template>
​
<script>
export default {
  data() {
    return {
      name: "",
      email: "",
      password1: "",
      password2: "",
      password1Error: "",
      password2Error: "",
      nameError: "",
      emailError: "",
    };
  },
  methods: {
    validateForm() {
      let isValid = true;
      this.nameError = "";
      this.emailError = "";
      this.password1Error = "";
      this.password2Error = "";

      if (!this.name || this.name.lenght < 3 || this.name.lenght > 50) {
        this.nameError = "Veuillez entrer votre nom";
        isValid = false;
      }

      if (!this.email || !/[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+/.test(this.email) || this.email.lenght > 50) {
        this.emailError = "Veuillez entrer une adresse courriel valide";
        isValid = false;
      }

      if (this.password1.length < 6) {
        this.password1Error = "Mot de passe invalide";
        isValid = false;
      }

      if (this.password1 != this.password2) {
        this.password2Error = "Les deux mots de passes entrés ne correspondent pas";
        isValid = false;
      }

      return isValid;
    },
    submitForm() {
      if (this.validateForm()) {
        fetch(import.meta.env.VITE_BASE_URL + "users/",{
          method:"POST",
          headers:{
            "content-type":"application/json"
          },
          body: JSON.stringify({
            username: this.name,
            email: this.email,
            password: this.password1
          })
        });
        this.$router.push("/connexion");
      }
    }
  },
};
</script>