<template>
  <h1 class="m-5">Lieux</h1>
  <AreasList v-for="area, index in areas" :key="index" :area="area" />
</template>

<script>
import AreasList from '@/components/AreasList.vue'


export default {
  name: 'lieux',
  components: {
    AreasList
  },
  data() {
    return {
      areas: []
    }
  },
  created() {
    this.getAreas()
  },
  watch: {
    $route() {
      this.getAreas()
    }
  },
  methods: {
    getAreas() {
      // Récupère toutes les areas via l'api
      let url = import.meta.env.VITE_BASE_URL + "areas/"
      fetch(url)
        .then(response => response.json())
        .then(data => {
          this.areas = data
        })
    }
  }
}
</script>
