<template>
  <div class="row justify-content-left">
    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

      <p v-show="!modification" class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Création d'un lieu</p>
      <p v-show="modification" class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Modification d'un lieu</p>

      <form novalidate v-on:submit.prevent="submitForm" class="mx-1 mx-md-4">
        <div class="d-flex flex-row align-items-center mb-1">
          <div data-mdb-input-init class="form-outline flex-fill mb-0">
            <label class="form-label" for="name">Nom</label>
            <input type="text" id="name" class="form-control" v-model="name" />
            <span v-if="nameError" class="text-danger">{{ nameError }}</span>
          </div>
        </div>
        <div class="d-flex flex-row align-items-center">
          <div class="w-50">
            <div data-mdb-input-init class="form-outline flex-fill mb-0">
              <label class="form-label" for="latitude">Latitude</label>
              <input type="text" id="latitude" class="form-control" v-model.number="lat" />
              <span v-if="latError" class="text-danger">{{ latError }}</span>
            </div>
          </div>

          <div class="w-50">
            <div data-mdb-input-init class="form-outline flex-fill mb-0">
              <label class="form-label" for="longitude">Longitude</label>
              <input type="text" id="longitude" class="form-control" v-model.number="lon" />
              <span v-if="lonError" class="text-danger">{{ lonError }}</span>
            </div>
          </div>
        </div>
        <div class="form-group mb-1">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" rows="3" v-model="desc"></textarea>
          <span v-if="descError" class="text-danger">{{ descError }}</span>
        </div>
        <div class="form-group mb-4">
          <label for="exampleFormControlTextarea1">S'y rendre</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="seRendre"></textarea>
          <span v-if="seRendreError" class="text-danger">{{ seRendreError }}</span>
        </div>
        <div class="d-flex justify-content-left mb-lg-4">
          <button v-show="!modification" type="submit" data-mdb-button-init data-mdb-ripple-init
            class="px-5 rounded btn btn-danger btn-lg">Créer</button>
          <button v-show="modification" type="submit" data-mdb-button-init data-mdb-ripple-init
            class="px-5 rounded btn btn-danger btn-lg">Modifier</button>
        </div>
      </form>
    </div>
  </div>
</template>
​

<script>
const urlBase = import.meta.env.VITE_BASE_URL
export default {
  data() {
    return {
      area: {},
      areaId: "",
      modification: false,
      name: "",
      lat: "",
      lon: "",
      desc: "",
      seRendre: "",
      nameError: "",
      latError: "",
      lonError: "",
      descError: "",
      seRendreError: ""
    };
  },
  async created() {
    this.modification = this.$route.params.areaId != null
    this.areaId = this.$route.params.areaId
    if (this.modification) {
      this.area = await this.getArea()
      this.name = this.area.name
      this.lat = this.area.lat
      this.lon = this.area.lon
      this.desc = this.area.description
      this.seRendre = this.area.gettingThere
    }
  },
  methods: {
    async getArea() {
      try {
        let url = urlBase +"areas/" + this.$route.params.areaId
        const response = await fetch(url, {
          method: 'GET',
          headers: {
            'content-type': 'application/json'
          }
        })

        return await response.json()
      } catch (err) {
        //todo
      }
    },
    validateForm() {
      let isValid = true;
      this.nameError = "";
      this.seRendreError = "";
      this.descError = "";
      this.latError = "";
      this.lonError = "";


      if (!this.name) {
        this.nameError = "Veuillez entrer votre nom";
        isValid = false;
      }

      if (!this.desc) {
        this.descError = "Veuillez entrer une description";
        isValid = false;
      }

      if (!this.seRendre) {
        this.seRendreError = "Veuillez indiquer une facon de s'y rendre";
        isValid = false;
      }

      if (!this.lat || this.lat < -90 || this.lat > 90) {
        this.latError = "Veuillez entré une latitude valide";
        isValid = false;
      }

      if (!this.lon || this.lon < -180 || this.lon > 180) {
        this.lonError = "Veuillez entré une longitude valide";
        isValid = false;
      }

      return isValid;
    },
    submitForm() {
      if (!this.modification) {
        if (this.validateForm()) {
          fetch(urlBase + "areas/", {
            method: "POST",
            headers: {
              "content-type": "application/json",
              "Authorization": 'Bearer ' + localStorage.getItem('jwt')
            },
            body: JSON.stringify({
              name: this.name,
              description: this.desc,
              gettingThere: this.seRendre,
              lon: this.lon,
              lat: this.lat
            })
          });
          this.$router.push("/profile");
        }
      }
      else{
        fetch(urlBase + "areas/" + this.$route.params.areaId, {
            method: "PUT",
            headers: {
              "content-type": "application/json",
              "Authorization": 'Bearer ' + localStorage.getItem('jwt')
            },
            body: JSON.stringify({
              name: this.name,
              description: this.desc,
              gettingThere: this.seRendre,
              lon: this.lon,
              lat: this.lat
            })
          });
          this.$router.push("/profile");
      }
    }
  },
};
</script>