<template>
  <div class="row justify-content-left">
    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

      <p v-show="!modification" class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Création d'une voie</p>
      <p v-show="modification" class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Modification d'une voie</p>

      <form novalidate v-on:submit.prevent="submitForm" class="mx-1 mx-md-4">
        <div class="d-flex flex-row align-items-center mb-1">
          <div data-mdb-input-init class="form-outline flex-fill mb-0">
            <label class="form-label" for="name">Nom</label>
            <input type="text" id="name" class="form-control" v-model="name" />
            <span v-if="nameError" class="text-danger">{{ nameError }}</span>
          </div>
        </div>
        <div class="d-flex flex-row align-items-center">
          <div class="w-50">
            <label for="selectType">Type</label>
            <select id="selectType" class="form-control mb-1" v-model="type">
              <option value="TRAD" selected>Trad</option>
              <option value="SPORT">Sport</option>
              <option value="TOPROPE">TopRope</option>
            </select>
            <span v-if="typeError" class="text-danger">{{ typeError }}</span>
          </div>

          <div class="w-50">
            <label for="selectDif">Difficulté</label>
            <select id="selectDif" class="form-control mb-1" v-model="dif">
              <option v-for="(grade, index) in grades" :key="index" :value="{ text: grade.text, value: grade.value }">{{
                grade.text }}
              </option>
            </select>
            <span v-if="difError" class="text-danger">{{ difError }}</span>
          </div>
        </div>
        <div>
          <label for="selectLieu">Lieu</label>
          <select id="selectLieu" class="form-control mb-1" v-model="lieu">
            <option v-for="(area, index) in areas" :key="index" :value="area._id">{{ area.name }}</option>
          </select>
          <span v-if="lieuError" class="text-danger">{{ lieuError }}</span>
        </div>

        <div class="d-flex flex-row align-items-center mb-1">
          <div data-mdb-input-init class="form-outline flex-fill mb-0">
            <label class="form-label" for="description">Description</label>
            <input type="text" id="description" class="form-control" v-model="description" />
            <span v-if="descError" class="text-danger">{{ descError }}</span>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-1">
          <div data-mdb-input-init class="form-outline flex-fill mb-0">
            <label class="form-label" for="approche">Approche</label>
            <input type="text" id="approche" class="form-control" v-model="approche" />
          </div>
        </div>


        <div class="d-flex flex-row align-items-center mb-4">
          <div data-mdb-input-init class="form-outline flex-fill mb-0">
            <label class="form-label" for="descente">Descente</label>
            <input type="text" id="descente" class="form-control" v-model="descente" />
          </div>
        </div>

        <div  class="d-flex justify-content-left mb-lg-4">
          <button v-show="!modification" type="submit" data-mdb-button-init data-mdb-ripple-init
            class="px-5 rounded btn btn-danger btn-lg">Créer</button>
          <button v-show="modification" type="submit" data-mdb-button-init data-mdb-ripple-init
            class="px-5 rounded btn btn-danger btn-lg">Modifier</button>
        </div>
      </form>
    </div>
  </div>
</template>
​

<script>
const urlBase = import.meta.env.VITE_BASE_URL
export default {
  data() {
    return {
      area: {},
      route: {},
      modification: false,
      routeId: "",
      name: "",
      type: "",
      dif: 0,
      description: "",
      descente: "",
      approche: "",
      lieu: "",
      nameError: "",
      typeError: "",
      difError: "",
      descriptionError: "",
      lieuError: "",
      areas: [],
      grades: [
        { "text": "5.7", "value": 5.07 },
        { "text": "5.8", "value": 5.08 },
        { "text": "5.9", "value": 5.09 },
        { "text": "5.10a", "value": 5.101 },
        { "text": "5.10b", "value": 5.102 },
        { "text": "5.10c", "value": 5.103 },
        { "text": "5.10d", "value": 5.104 },
        { "text": "5.11a", "value": 5.111 },
        { "text": "5.11b", "value": 5.112 },
        { "text": "5.11c", "value": 5.113 },
        { "text": "5.11d", "value": 5.114 },
        { "text": "5.12a", "value": 5.121 },
        { "text": "5.12b", "value": 5.122 },
        { "text": "5.12c", "value": 5.123 },
        { "text": "5.12d", "value": 5.124 },
        { "text": "5.13a", "value": 5.131 },
        { "text": "5.13b", "value": 5.132 },
        { "text": "5.13c", "value": 5.133 },
        { "text": "5.13d", "value": 5.134 },
        { "text": "5.14a", "value": 5.141 },
        { "text": "5.14b", "value": 5.142 },
        { "text": "5.14c", "value": 5.143 },
        { "text": "5.14d", "value": 5.144 },
        { "text": "5.15a", "value": 5.151 },
        { "text": "5.15b", "value": 5.152 },
        { "text": "5.15c", "value": 5.153 },
        { "text": "5.15d", "value": 5.154 }
      ]
    };
  },
  async created() {
    this.modification = this.$route.params.routeId != null
    this.routeId = this.$route.params.routeId
    this.area = this.getAreas()
    if (this.modification) {
      this.route = await this.getRoute()
      this.name = this.route.name
      this.type = this.route.type
      this.dif = { text: this.route.grade.text, value: this.route.grade.value }
      this.lieu = this.route.area
      this.description = this.route.description
      this.approche = this.route.approach
      this.descente = this.route.descent
    }
    this.getAreas()
  },
  watch: {
    $route() {
      this.getAreas()
    }
  },
  methods: {
    async getRoute() {
      try {
        let url = urlBase + "routes/" + this.$route.params.routeId
        const reponse = await fetch(url, {
          method: 'GET',
          headers: {
            'content-type': 'application/json'
          }
        })
        return await reponse.json()
      }
      catch (err) {

      }

    },
    validateForm() {
      this.modification
      let isValid = true;
      nameError: "";
      typeError: "";
      difError: "";
      descriptionError: "";
      lieuError: "";


      if (!this.name) {
        this.nameError = "Veuillez entrer un nom";
        isValid = false;
      }

      if (!this.type) {
        this.typeError = "Veuillez sélectionné un type valide";
        isValid = false;
      }

      if (this.dif < 5.07 || this.dif > 5.154) {
        this.difError = "Veuillez sélectionné une difficulté valide";
        isValid = false;
      }

      if (!this.description) {
        this.descError = "Veuillez entré une description";
        isValid = false;
      }

      if (!this.lieu) {
        this.lieuError = "Veuillez sélectionné un lieu";
        isValid = false;
      }

      return isValid;
    },
    submitForm() {
      if (this.validateForm()) {
        if (!this.modification) {
          fetch(urlBase + "routes/", {
            method: "POST",
            headers: {
              "content-type": "application/json",
              "Authorization": 'Bearer ' + localStorage.getItem('jwt')
            },
            body: JSON.stringify({
              name: this.name,
              type: this.type,
              grade: this.dif,
              description: this.description,
              approach: this.approche,
              descent: this.descente,
              area: this.lieu
            })
          });
          this.$router.push("/profile");
        }
        else {
          fetch( urlBase + "routes/" + this.$route.params.routeId, {
            method: "PUT",
            headers: {
              "content-type": "application/json",
              "Authorization": 'Bearer ' + localStorage.getItem('jwt')
            },
            body: JSON.stringify({
              name: this.name,
              type: this.type,
              grade: this.dif,
              description: this.description,
              approach: this.approche,
              descent: this.descente,
              area: this.lieu
            })
          });
          this.$router.push("/profile");
        }
      }
    },
    getAreas() {
      let url = urlBase + "areas/"
      fetch(url)
        .then(response => response.json())
        .then(data => {
          this.areas = data
        })
    }
  }
};
</script>