<template>
    <h1 class="m-4">Profile</h1>
    <div class="d-flex mx-3">
        <h3>Lieux</h3>
        <RouterLink class="nav-link" to="/areas/new">Créer un Lieu</RouterLink>
    </div>
    <AreasList v-for="area, index in areas" :key="index" :area="area" />

    <div class="d-flex mx-3">
        <h3>Voies</h3>
        <RouterLink class="nav-link" to="/routes/new">Créer une voie</RouterLink>
    </div>
    <routesList v-for="route, index in routes" :key="index" :route="route" />

</template>

<script>
import RoutesList from '@/components/RoutesList.vue'
import AreasList from '@/components/AreasList.vue'
const urlBase = import.meta.env.VITE_BASE_URL

export default {
    name: 'profile',
    components: {
        RoutesList,
        AreasList
    },
    data() {
        return {
            routes: [],
            areas: []
        }
    },
    created() {
        this.getUserRoutes(),
            this.getUserAreas()
    },
    watch: {
        $route() {
            this.getUserRoutes(),
                this.getUserAreas()
        }
    },
    methods: {
        getUserRoutes() {
            // Récupère toutes les routes via l'api
            const url = urlBase + "routes/my-routes"
            fetch(url, {
                headers: {
                    "Authorization": 'Bearer ' + localStorage.getItem('jwt')
                }
            })
                .then(response => response.json())
                .then(data => {
                    this.routes = data
                })
        },
        getUserAreas() {
            const url = urlBase + "areas/my-areas"
            fetch(url, {
                headers: {
                    "Authorization": 'Bearer ' + localStorage.getItem('jwt')
                }
            })
                .then(response => response.json())
                .then(data => {
                    this.areas = data
                })
        }
    }
}
</script>