<template>
    <h1 class="mx-3 mt-5">{{ route.name }}</h1>
    <h3 class="mx-3">{{ route.grade.text }}</h3>
    <div class="d-flex">
        <p class="mx-3">Lieu:</p>
        <RouterLink :to="{ name: 'AreaSingle', query: { areaId: Area._id } }">{{ Area.name }}</RouterLink>
    </div>
    <div class="d-flex">
        <p class="mx-3">Type:</p>
        <p>{{ route.type }}</p>
    </div>
    <div class="d-flex mx-3">
        <p>Partagé par: {{ user.username }} {{ routeDate }}</p>
    </div>
    <div class="m-5">
        <h2>Approche</h2>
        <p>{{ route.approach }}</p>
    </div>
    <div class="m-5">
        <h2>Description</h2>
        <p>{{ route.description }}</p>
    </div>
    <div class="m-5">
        <h2>Descente</h2>
        <p>{{ route.descent }}</p>
    </div>
</template>

<script>
const urlBase = import.meta.env.VITE_BASE_URL
export default {
    data() {
        return {
            route: {},
            routeDate: "",
            Area: {},
            user: {}
        }
    },
    created() {
        this.getRoute()
    },
    watch: {
        $route() {
            this.getRoute()
        }
    },
    methods: {
        getRoute() {
            const url = urlBase + "routes/" + this.$route.query.routeId
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    this.route = data
                    const date = new Date(this.route.createdAt);
                    const options = { day: 'numeric', month: 'long', year: 'numeric' };
                    this.routeDate = date.toLocaleDateString('fr-FR', options);
                    this.getArea(this.route.area)
                    this.getUser(this.route.user)
                })
        },
        getArea(areaId) {
            const url =urlBase + "areas/" + areaId
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    this.Area = data
                })
        },
        getUser(userId){
            const url =urlBase + "users/" + userId
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    this.user = data
                })
        }
    }
}
</script>
